@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
  padding: 20px;
}

.container-header {
  max-width: 1380px;
  margin: 0 auto;
  overflow: hidden;
}

.logo img {
  width: 52px;
}

.language {
  border-radius: 30px;
  padding: 15px;
  border: 1px solid #7510F7;
  border-width: 2px;
  font-size: 18px;
  color: #7510F7;
}
.language:hover {
  background-color: #7510F7;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.nav__title {
  color: #141c3a;
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
  padding: 50px 0;
}

.nav__text {
  text-align: center;
  line-height: 1.5;
  font-size: 25px;
  padding: 0 0 25px 0;
}

.nav__photo {
  text-align: center;
  padding: 0 0 50px 0;
}
.nav__photo img {
  width: 300px;
}

.pc-photo {
  text-align: center;
}

.info {
  background-color: #7510F7;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.info__body {
  text-align: center;
  padding: 150px 0;
  color: #fff;
}

.info__title {
  font-weight: 800;
  font-size: 2rem;
  padding: 0 0 20px 0;
}

.info__text {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
  padding: 0 20px;
}

.flex {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.flex__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 20px;
  max-width: 1250px;
  margin: 0 auto;
  overflow: hidden;
}

.flex__column {
  max-width: 33.333%;
  border: 1px solid #7510F7;
  padding: 50px;
  border-radius: 20px;
  margin: 0 10px 0 0;
}

.flex__image {
  padding: 0 0 30px 0;
}

.flex__title {
  color: #141c3a;
  font-weight: 800;
  font-size: 23px;
  padding: 0 0 20px 0;
}

.flex__header {
  font-size: 18px;
  color: #141c3a;
  padding: 0 0 20px 0;
}

.flex__title-two {
  color: #7510F7;
  font-size: 18px;
  padding: 0 0 10px 0;
}

.flex_nav {
  font-size: 18px;
  color: #141c3a;
  padding: 0 0 20px 0;
  line-height: 25px;
}

.flex__title-three {
  color: #7510F7;
  font-size: 18px;
  padding: 0 0 10px 0;
}

.flex__footer {
  font-size: 18px;
  color: #141c3a;
  margin: 0 auto;
  line-height: 25px;
}

.footer {
  background-color: #7510F7;
  text-align: center;
}

.footer__logo {
  padding: 30px 0;
  text-align: center;
}

.footer__title {
  color: #fff;
  opacity: 0.7;
  font-size: 1.5rem;
  max-width: 200px;
  margin: 0 auto;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0 0 30px;
}
.footer__link img {
  padding: 0 15px 0 0;
}

.telegram:hover img {
  width: 50px;
}
.telegram img {
  width: 40px;
}

.instagram:hover img {
  width: 50px;
}
.instagram img {
  width: 40px;
}

.github:hover img {
  width: 50px;
}
.github img {
  width: 40px;
}

.linkedin:hover img {
  width: 50px;
}
.linkedin img {
  width: 40px;
}

.footer__text {
  padding: 20px 0 0 20px;
  color: #fff;
  opacity: 0.7;
  position: relative;
  top: 15px;
  left: 0;
}